# Carpetas de desarrollo
.vscode/**
.vscode-test/**
.github/**
.git/

# Archivos de configuración y documentación
.gitignore
.editorconfig
eslint.config.mjs

# Archivos de configuración de TypeScript y ESLint
**/tsconfig.json
**/.eslintrc.json

# Archivos fuente y mapas de código fuente
src/**
**/*.ts
**/*.map

# Otros archivos de pruebas
**/*.test.*
