# Carpetas de desarrollo
.vscode/**
.vscode-test/**
.github/**
.git/

# Archivos de configuración y documentación
.gitignore
.editorconfig
eslint.config.mjs
esbuild.mjs
pnpm-lock.yaml
pnpm-workspace.yaml

# Archivos de configuración de TypeScript y ESLint
**/tsconfig.json
**/.eslintrc.json

# Archivos fuente y mapas de código fuente
src/**
**/*.ts
**/*.map

# Dependencias (se bundlea todo con esbuild)
node_modules/**

# Otros archivos de pruebas
**/*.test.*
