body {
  font-family: var(--vscode-font-family);
  padding: .6rem;
  font-size: 13px;
  line-height: 1.35;
}

code {
  font-family: var(--vscode-editor-font-family, var(--vscode-font-family));
  font-size: 15px;
  margin-right: 4px;
}

textarea {
  width: 98%;
  min-height: 90px;
  font-family: monospace;
  resize: vertical;
  padding: .4rem
}

input[type="text"] {
  font-size: 15px;
  padding: .2rem;
  margin-right: 8px;
  width: 98%;
}

pre {
  font-family: var(--vscode-editor-font-family, var(--vscode-font-family));
  background: var(--vscode-editor-background);
  padding: .5rem;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 15px;
  margin-right: 4px;
}

.hidden {
  display: none;
}
