body {
  font-family: var(--vscode-font-family);
  padding: .6rem;
  font-size: 13px;
  line-height: 1.35;
}

h2 {
  margin: .2rem 0 .6rem;
  font-size: 14px;
}

#regenerate {
  margin: 5px 3px 5px 3px;
}

.listItems {
  margin: 10px 3px 10px 3px;
}

code {
  font-family: var(--vscode-editor-font-family, var(--vscode-font-family));
  font-size: 15px;
  margin-right: 4px;
}

input[type=range] {
  width: 98%;
}

label {
  user-select: none;
}

button {
  cursor: pointer;
}

.very-weak {
  color: #ff0800
}

.weak {
  color: #d9534f
}

.medium {
  color: #f0ad4e
}

.strong {
  color: #5cb85c
}

.very-strong {
  color: #428bca
}

.hidden {
  display: none;
}

small {
  font-size: 10px;
}
